/* ----------------------------------------

Test CSS

---------------------------------------- */

/* This is a comment. It won't show up on your page */

/* Border box, adjusts box model to be easier to use */
/* Always include this for consistency */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

header{
	background-color: black;
	text-align: center;
	color: white;
	padding: 30px;

}

a {
	color:red;
	text-decoration:none;
}

p{
	margin-top: 20px;
}

h2{
	font-size: 24px;
	text-align: center;
}

h1{
	font-size: 30px;
}
h1 span{
	opacity: .6;
}

section.intro{
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url('../images/bg-image5.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.container {

	max-width: 550px;
	margin: 0 auto;
	padding: 30px;

}

ul {
	list-style-type: circle;
	margin: 30px;

}

img {
	width: 100%;
	border: 4px solid red;
}


footer{
	background-color: black;
	text-align: center;
	color: white;
	padding: 30px;

